name: Cargo Check Examples

on:
  push:
    branches: [main]
    paths:
      - "**.rs"
      - "**.toml"
  pull_request:
    branches: [main]
  schedule:
    # Run every Monday at 00:00 UTC
    - cron: '0 0 * * 1'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  # Examples that will work with feature bot
  full_feature_check:
    name: Full Feature Example Check (${{ matrix.toolchain }})
    strategy:
      matrix:
        toolchain: ${{ (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch') && fromJSON('["stable", "beta", "nightly"]') || fromJSON('["stable"]') }}
        example: [basic_bot, reactions, slash_commands, rich_presence]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install ${{ matrix.toolchain }} toolchain
        run: rustup install ${{ matrix.toolchain }}
      - name: Set default toolchain
        run: rustup default ${{ matrix.toolchain }}
      - name: Install Dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev
      - name: Cargo Check ${{ matrix.example }}
        run: cargo check --example ${{ matrix.example }} --features full
